@model List<NuevaAplicacionMVC.Models.Noticia>

@{
    ViewBag.Title = "Inicio";
}

<body>
    <div class="migas">
        <ol class="breadcrumb">
            <li class="active"><a href="#">Inicio</a></li>
            <button class="mostrar-todo pull-right visible-xs visible-sm" onclick="OcultarContenido()">ocultar</button>
        </ol>
    </div>
    <div id="contenido">
        @foreach(var Noticia in Model){
            <article class="post clearfix">
                <a href='@Url.Action("ArticuloPosteado", "Home")' class="Contenedor-Imagen pull-left">
                    <img src='@Url.Content(@Noticia.imagen)' />
                </a>
                <h2 class="post-title-inicio"><a> @Html.ActionLink(@Noticia.titulo, "ArticuloPosteado", "Home")</a></h2>
                <p><span class="post-fecha">15 de julio 2006</span>  por <span class="post-autor"><a href="#">@Noticia.autor</a></span></p>
                <p class="post-contenido text-justify">
                    @Noticia.contenido
                </p>
                <div class="Contenedor-botones">
                </div>
            </article><hr>
        }
    </div>
    <hr class="hr">
    <div class="text-center paginacion">
        <ul class="pagination">
            <li class=""><a href="#" aria-label="Previous"><span>&laquo;</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="#">2 <span class="sr-only"></span></a></li>
            <li class=""><a href="#">3 <span class="sr-only"></span></a></li>
            <li class=""><a href="#">4 <span class="sr-only"></span></a></li>
            <li class=""><a href="#" aria-label="next"><span>&raquo;</span></a></li>
        </ul>
    </div>
</body>