@{
    ViewBag.Title = "NuevoArticulo";
}


<div class="migas">
    <ol class="breadcrumb paginacion-articulo">
        <li><small>@Html.ActionLink("Inicio", "index", "Home")</small></li>
        <li><small>@Html.ActionLink("Noticias", "index", "Home")</small></li>
        <li class="active pagina-actual">Noticia</li>
    </ol>
</div>
<div id="contenido-post">
    <article class="clear-fix articulo">
        <div class="contenedor-imagen-posteada" style="background-image: url(@Model.Imagen)">
            <div class="imagen-posteada">
                <h3 class="h4">@Model.Titulo</h3>
            </div>
            <!--<img src="http://assets2.sportsnet.ca/wp-content/uploads/2016/11/romero_yoel-1040x572.jpg">-->
        </div>
        <span class="glyphicon" style="margin-left:2px;">&#xe105; 5257</span><hr>
        <div class="contenido-articulo">
            <p class="post-articulo">
                @Model.Contenido
            </p>
            <iframe src="https://ok.ru/video/16337996314"></iframe>
            <!--<embed name="plugin" src="http://www.jocmania.com/files/swf/1234-atrapa-al-gato.swf" type="application/x-shockwave-flash" width="100%" height="100%">-->
        </div>
    </article><hr class="hr">
    <div class="comentario-articulo">
        <div class="comentar">
            <form class="form-inline">
                <input type="text" class="form-control">
                <button type="submit" class="btn btn-primary">ok</button>
            </form>
        </div><hr>
        <div id="comentarios">
            <div class="comentario">
                <div class="datos-comentario-usuario">
                    <img class="pull-left" src="https://c.disquscdn.com/uploads/users/14239/6540/avatar92.jpg?1422812578">
                    <div class="datos-comentario">
                        <a href="#" class="nombre-comentario"><small>Nombre del usuario</small></a><small> <strong>[</strong>15-7-2006<strong>]</strong></small>
                    </div>
                </div>
                <p>
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo
                </p>
            </div><hr>
            <div class="comentario">
                <div class="datos-comentario-usuario">
                    <img class="pull-left" src="https://c.disquscdn.com/uploads/users/14239/6540/avatar92.jpg?1422812578">
                    <div class="datos-comentario">
                        <a href="#" class="nombre-comentario"><small>Nombre del usuario</small></a><small> <strong>[</strong>15-7-2006<strong>]</strong></small>
                    </div>
                </div>
                <p>
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo este es el comentario que se esta haciendo este es el comentario que se esta haciendo
                    este es el comentario que se esta haciendo
                </p>
            </div><hr>
        </div>
    </div>
</div>
