@model NuevaAplicacionMVC.Models.Noticia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Noticia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.imagen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imagen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contenido)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contenido)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contenidoPreview)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contenidoPreview)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.autor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.autor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
