@model IEnumerable<NuevaAplicacionMVC.Models.noticias>

@{
    ViewBag.Title = "noticiasDB";
}

<h2>noticiasDB</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.noticia_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticia_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticia_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticia_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticia_autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noticia_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.noticia_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticia_title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticia_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticia_content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticia_autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noticia_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
